#footer {
	position: absolute;
	display: flex;
	bottom: 0;
	right: 0;
	height: 5vh;
}

#btn-delete-row {
	display: flex;
	content: "Delete";
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

/*
body {
	margin: 0;
	padding: 0;
}

#body-container {
	position: absolute;
	top: 0;
	height: 95vh;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
}
*/