#container-content {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-around;
}

#container-images {
	overflow: auto;
	flex-grow: 1;
}

#image-dummy {
	display: none;
	visibility: hidden;
}

.image-container {
	display: block;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
}

.image-container img {
	bottom: 0;
	left: 0;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

#btn-update-row {
	width: 100%;
}

#delete-container, #update-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#table-details input:not([type=button]) {
	border: none;
	background: none;
	font: inherit;
}

#attach-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
