#form-query {
	margin-top: 10px;
	margin-bottom: 20px;
}

th {
	position: sticky;
	top: 0;
}

#query-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#table-results {
	width: 100%;
}

#error-container {
	width: 100%;
	text-align: center;
}

#mnumhead {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#mnumheadsmall {
	font-size: calc(100% - 2pt);
}