body {
	text-align: center;
}

#form-container {
	display: inline-block;
	text-align: center;
}

#form-container form div {
	white-space: nowrap;
	margin: 0;
}

#form-container form div > * {
	width: 50%;
	margin: 0;
	display: inline-block;
}

#form-container form div > * > * {
	width: 100%;
	margin: 0;
	display: inline-block;
}

#form-container form div > div:first-child {
	text-align: right;
}

#form-container form div > div:last-child {
	text-align: left;
}

#form-container form > div:last-child {
	width: 100%;
	text-align: center;
}

#form-container form input[type="submit"] {
	width: 75px;
	text-align: center;
}

#error-container {
	margin-top: 30px;
}
