.password-req, .password-req * {
	color: #808080;
	font-style: italic;
}

.valid {
	color: #007700;
}

.invalid {
	color: #aa0000;
}

form > div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

body {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;
}
