body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #3b3b3b;
	margin: 0;
}

body * {
	color: #cbcbcb;
	font-family: sans-serif;
	margin: 0;
}

a, a * {
	color: #4a88c7;
}

a:visited, a:visited * {
	color: #9480c1;
}

input {
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	padding: 3px;
}

table {
	border-collapse: collapse;
}

table, select, input {
	background-color: #2b2b2b;
}

table th, td {
	border: 1px solid #6b6b6b;
}

form > * {
	margin-left: 20px;
	margin-right: 20px;
}

td, th {
	padding: 5px;
}

tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.05);
}

.selected {
	background-color: #6897bba0 !important;
}

th {
	background-color: #8b8b8b;
	border-color: #ababab;
}

.flex-container {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.monospace, .monospace * {
	font-family: monospace;
}

.orange, .orange * {
	color: #cc7832;
}

.gray, .gray * {
	color: #737373;
}

.center-text {
	width: 100%;
	text-align: center;
}

datalist, datalist * {
	display: none !important;
}

#user-container, #nav-container {
	margin-right: 5px;
	margin-left: 5px;
	display: inline-flex;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 20%;
}

#user-container > *, #nav-container > * {
	padding: 5px;
}

#user-container {
	justify-content: flex-end;
}

#nav-container {
	justify-content: flex-start;
}

#user-container #referrer {
	display: none;
	visibility: hidden;
}

.hidden {
	visibility: hidden;
	display: none;
}

img {
	image-orientation: from-image;
}
